<phpunit bootstrap="./Bootstrap.php" colors="true">
    <testsuite name="Fig Test Suite">
        <directory>./</directory>
    </testsuite>

    <!--
    <groups>
        <exclude>
        </exclude>
    </groups>
    -->

    <filter>
        <whitelist>
            <directory suffix=".php">../library/</directory>
        </whitelist>
    </filter>
</phpunit>
